.idea
.DS_Store
Gemfile.lock
yarn.lock
node_modules
/public/assets/*.css
/public/assets/*.js
/public/assets/*.map
/public/assets/*.json
/public/assets/fonts/Roboto*
/huyak
/nohup.out
.env
/spec/frontend/_js
/tmp_spec
/tmp
/log/*.pid
/log/*.log
/npm-debug.log
